.element-select-box {
  height: 2000px;
}

.selected-element {
  margin: 20px;
  font-size: 18px;
  border: 1px solid red;
  line-height: 50px;
  height: 50px;
  margin-top: 1000px;
}

.element-select-extra-content {
  position: absolute;
  width: 200px;
  height: 100px;
  line-height: 100px;
  border-radius: 4px;
  background: #fff;
  text-align: center;
}
