.guidance-step {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc;
}

.guidance-step-1 {
  width: 300px;
}

.guidance-step-2 {
  width: 400px;
  margin-left: 100px;
}

.guidance-step-3 {
  float: right;
  width: 200px;
}

.step-1 {
  width: 200px;
}

.step-2 {
  width: 100px;
}

.step-3 {
  width: 300px;
}
