@import '../../style/index.scss';

.#{$prefix}-button {
  display: inline-block;
  border-radius: 2px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  cursor: pointer;

  &.#{$prefix}-button-sm {
    padding: 14px 29px;
  }
  &.#{$prefix}-button-md {
    padding: 14px 29px;
  }
  &.#{$prefix}-button-lg {
    padding: 14px 29px;
    font-size: 16px;
    font-weight: bold;
  }

  &.#{$prefix}-button-primary {
    background-color: $primary-btn-color;
    color: #ffffff;
  }
  &.#{$prefix}-button-yellow {
    background-color: $yellow-btn-color;
    color: #ffffff;
  }
  &.#{$prefix}-button-white-primary {
    background-color: #ffffff;
    color: #9b9b9b;
    border: 1px solid rgba(83, 118, 130, 0.8);
  }
  &.#{$prefix}-button-white-cyan {
    background-color: #ffffff;
    color: $primary-btn-color;
    border: 1px solid $primary-btn-color;
  }

  &.#{$prefix}-button-block {
    width: 100%;
  }

  &.#{$prefix}-button-disabled {
    background-color: #a6a6a6;
    color: #ffffff;
    cursor: not-allowed;
  }
}
