.popover-stories {
  &__select {
    margin: 0 4px;
  }

  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__popover-wrapper {
    width: 100%;
    height: 300px;
    border: 1px solid #333;
    overflow: auto;
    position: relative;
  }
}

.popover-box button+button {
  margin-left: 20px;
}

.pop-content {
  width: 70px;
  // height: 140px;
  padding: 10px;
  transition: opacity 0.3s, transform 0.3s;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;

  &-enter {
    transform: perspective(200px) rotateX(20deg);
    opacity: 0;

    &-active {
      transform: perspective(200px) rotateX(0deg);
      opacity: 1;
    }

    &-done {
      transform: perspective(200px) rotateX(0deg);
      opacity: 1;
    }
  }

  &-appear {
    transform: perspective(200px) rotateX(20deg);
    opacity: 0;

    &-active {
      transform: perspective(200px) rotateX(0deg);
      opacity: 1;
    }

    &-done {
      transform: perspective(200px) rotateX(0deg);
      opacity: 1;
    }
  }

  &-exit {
    transform: perspective(200px) rotateX(0deg);
    opacity: 1;

    &-active {
      transform: perspective(200px) rotateX(20deg);
      opacity: 0;
    }

    &-done {
      transform: perspective(200px) rotateX(20deg);
      opacity: 0;
    }
  }
}