@import './common/index.scss';

@mixin selectRadius($size, $radius) {
  &.cat-button#{$size} {
    border-radius: $radius;
  }
}

.cat-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  color: $primary-color;
  background: #fff;
  transition: 0.3s;
  line-height: 1.45;
  height: 32px;
  font-weight: 400;
  &__children {
    vertical-align: middle;
    display: inline-block;
  }

  &:hover {
    background: $red-2;
  }

  &:active {
    background: $red-3;
  }

  &--primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      opacity: 0.8;
      background: $primary-color;
    }

    &:active {
      opacity: 1;
      background: $red-7;
      border-color: $red-7;
    }
  }

  &--link {
    border: none;
    background: #fff;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  &--golden {
    background: $yellow-6;
    color: $gray-1;
    border: solid 1px $yellow-6;
    &:hover {
      opacity: 0.8;
      background: $yellow-6;
    }

    &:active {
      opacity: 1;
      background: $yellow-6;
      border-color: $yellow-6;
    }
  }

  &--dashed {
    background: $gray-1;
    color: $blue-gray-10;
    border: dashed 1px $blue-gray-10;
    &:hover {
      opacity: 0.8;
      background: $gray-1;
    }

    &:active {
      opacity: 1;
      background: $gray-1;
      border-color: $blue-gray-10;
    }
  }

  &--sm {
    height: 24px;
    font-size: 13px;
  }

  &--lg {
    font-size: 18px;
    height: 40px;
  }

  &--padding-sm {
    padding: 0px 10px;
  }

  &--padding-md {
    padding: 0px 12px;
  }

  &--padding-lg {
    padding: 0px 16px;
  }

  &--circle {
    border-radius: 50%;
    padding: auto;
  }

  &--round {
    // .cat-ui-round.cat-ui--
    @include selectRadius('--sm', 12px);
    @include selectRadius('--md', 16px);
    @include selectRadius('--lg', 20px);
  }


  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    color: $gray-6;
    background: $gray-3;
    border: none;

    &:hover {
      color: $gray-6;
      background: $gray-3;
      border: none;
    }

    &:active {
      color: $gray-6;
      background: $gray-3;
      border: none;
    }
  }

  &__loading {
    margin-right: 6px;
    vertical-align: middle;
    transition: 0.3s;
  }
}