@import './common/index.scss';

@mixin selectRadius($size, $radius) {
  &.cat-button#{$size} {
    border-radius: $radius;
  }
}

.cat-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  color: $primary-color;
  background: #fff;
  transition: 0.3s;
  line-height: 36px;
  height: 38px;
  font-weight: 400;
  &__children {
    display: inline-block;
  }

  &:hover {
    background: $primary-color;
    color: #fff;
  }

  &--primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      color: $primary-color;
      background: #fff;
    }
  }

  &--link {
    border: none;
    background: #fff;
  }

  &--golden {
    background: $yellow-6;
    color: $gray-1;
    border: solid 1px $yellow-6;
    &:hover {
      background: #fff;
      color: $yellow-6;
    }
  }

  &--grey {
    background: #fff;
    color: $gray-4;
    border: solid 1px $blue-gray-1;
    &:hover {
      background: $blue-gray-1;
      color: #fff;
    }
  }

  &--dashed {
    color: $blue-gray-10;
    border: dashed 1px $blue-gray-10;
    &:hover {
      background: $blue-gray-10;
      color: #fff;
    }
  }

  &--sm {
    height: 24px;
    font-size: 13px;
    line-height: 22px;
  }

  &--lg {
    font-size: 16px;
    height: 44px;
    line-height: 42px;
  }

  &--padding-sm {
    padding: 0px 10px;
  }

  &--padding-md {
    padding: 0px 20px;
  }

  &--padding-lg {
    padding: 0px 28px;
  }

  &--circle {
    border-radius: 50%;
  }

  &--round {
    // .cat-ui-round.cat-ui--
    @include selectRadius('--sm', 12px);
    @include selectRadius('--md', 20px);
    @include selectRadius('--lg', 28px);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    color: $gray-6;
    background: $gray-3;
    border: none;

    &:hover {
      color: $gray-6;
      background: $gray-3;
      border: none;
    }

    &:active {
      color: $gray-6;
      background: $gray-3;
      border: none;
    }
  }

  &__loading {
    margin-right: 6px;
    vertical-align: middle;
    transition: 0.3s;
  }
}
