@import "./color.scss";

.cat-button {
  display       : inline-block;
  border-radius : 4px;
  font-style    : normal;
  font-stretch  : normal;
  line-height   : normal;
  letter-spacing: 0.2px;
  cursor        : pointer;
  outline       : 0;
  border        : 1px solid transparent;
  position      : relative;
  transition    : all .15s ease;

  &:active {
    outline        : none;
    box-shadow     : none;
    text-decoration: none;
  }

  &.cat-button-sm {
    padding    : 5px 12px;
    font-size  : 14px;
    font-weight: normal;
  }

  &.cat-button-md {
    padding    : 9px 24px;
    font-size  : 14px;
    font-weight: 600;
  }

  &.cat-button-lg {
    padding    : 12px 36px;
    font-size  : 16px;
    font-weight: bold;
  }

  &.cat-button-primary,
  &.cat-button-primary-up {
    background-color: $primary-color;
    color           : #ffffff;

    &:hover {
      background-color: #ff6464;
    }
  }

  &.cat-button-primary-up {
    &:hover {
      box-shadow: 0 6px 16px 0 rgba(255, 68, 68, 0.5);
    }
  }

  &.cat-button-yellow {
    background-color: $premium-color;
    color           : #ffffff;
  }

  &.cat-button-white-primary {
    background-color: #ffffff;
    color           : #9b9b9b;
    border          : 1px solid rgba(83, 118, 130, 0.8);

    &:hover {
      background-color: rgba(83, 118, 130, 0.8);
      color           : #ffffff;
    }
  }

  &.cat-button-white-cyan {
    background-color: #ffffff;
    color           : $primary-color;
    border          : 1px solid $primary-color;

    &:hover {
      background-color: #ff4444;
      color           : #ffffff;
    }
  }

  &.cat-button-borderless {
    color: #9b9b9b;

    &:hover {
      color: #4a4a4a;
    }
  }

  &.cat-button-block {
    width: 100%;
  }

  &.cat-button-disabled {
    background-color: #eeeeee;
    color           : #bcbcbc;
    cursor          : not-allowed;
    border          : 1px solid transparent;

    &:hover {
      background-color: #eeeeee;
      color           : #bcbcbc;
      box-shadow      : none;
    }
  }
}