.cat-checkbox {
  position: relative;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  color: #767676;
  font-weight: 600;
  height: 24px;
  & + & {
    margin-left: 40px;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
  }

  &__inner {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: all 0.1s;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-width: 1px;
    border-style: solid;
    border-color: #313646;
    &--disabled {
      border-color: #979797;
    }

    &::after {
      position: absolute;
      transform: rotate(45deg) scale(1);
      border-color: #f5f5f5;
      border-width: 2px;
      border-style: solid;
      border-top: 0;
      border-left: 0;
      left: 5px;
      top: 1px;
      display: table;
      width: 5px;
      height: 9px;
      content: " ";
      transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      box-sizing: border-box;
    }

    &--disabled &--checked {
      &::after {
        border-color: rgba(0, 0, 0, 0.25);
      }
    }
    &--checked {
      &::after {
        border-color: #313646;
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    z-index: 1;
    opacity: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    &--disabled {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }
    border: none;
  }

  &__label {
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0 8px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    cursor: pointer;
    &--disabled {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }
  }
}
