.cat-drawer {
  position: fixed;
  z-index: 1000;
  visibility: visible;
  opacity: 1;

  &__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
  }

  &__mask-appear {
    visibility: hidden;
    opacity: 0;
  }

  &__mask-appear-active {
    visibility: visible;
    opacity: 1;
  }

  &__mask-appear-done {
    visibility: visible;
    opacity: 1;
  }

  &__mask-enter {
    visibility: hidden;
    opacity: 0;
  }

  &__mask-enter-active {
    visibility: visible;
    opacity: 1;
  }

  &__mask-enter-done {
    visibility: visible;
    opacity: 1;
  }

  &__mask-exit {
    visibility: visible;
    opacity: 1;
  }

  &__mask-exit-active {
    visibility: hidden;
    opacity: 0;
  }

  &__mask-exit-done {
    visibility: hidden;
    opacity: 0;
  }

  &__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
  }

  /*top 向上*/
  &-top__content {
    transform: translateZ(0);
    position: fixed;
    transition: 0.3s;
  }

  &__content-appear {
    transform: translateY(100%);
  }

  &__content-appear-active {
    transform: translateY(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &__content-appear-done {
    transform: translateY(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-top__content-enter {
    transform: translateY(100%);
  }

  &-top__content-enter-active {
    transform: translateY(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-top__content-enter-done {
    transform: translateY(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-top__content-exit {
    transform: translateY(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-top__content-exit-active {
    transform: translateY(100%);
  }

  &-top__content-exit-done {
    transform: translateY(100%);
  }

  &__content--top {
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
  }

  /*right 向右*/
  &-right__content {
    transform: translateZ(0);
    position: fixed;
    transition: 0.3s;
  }

  &__content-appear {
    transform: translateX(100%);
  }

  &__content-appear-active {
    transform: translateX(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &__content-appear-done {
    transform: translateX(0);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-right__content-enter {
    transform: translateX(-100%);
  }

  &-right__content-enter-active {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-right__content-enter-done {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-right__content-exit {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-right__content-exit-active {
    transform: translateX(-100%);
  }

  &-right__content-exit-done {
    transform: translateX(-100%);
  }

  &__content--right {
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
  }

  /*bottom 向下*/
  &-bottom__content {
    transform: translateZ(0);
    position: fixed;
    transition: 0.3s;
  }

  &__content-appear {
    transform: translateY(-100%);
  }

  &__content-appear-active {
    transform: translateY(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &__content-appear-done {
    transform: translateY(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-bottom__content-enter {
    transform: translateY(-100%);
  }

  &-bottom__content-enter-active {
    transform: translateY(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-bottom__content-enter-done {
    transform: translateY(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-bottom__content-exit {
    transform: translateY(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-bottom__content-exit-active {
    transform: translateY(-100%);
  }

  &-bottom__content-exit-done {
    transform: translateY(-100%);
  }

  &__content--bottom {
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
  }

  /*left 向左*/
  &-left__content {
    transform: translateZ(0);
    position: fixed;
    transition: 0.3s;
  }

  &__content-appear {
    transform: translateX(100%);
  }

  &__content-appear-active {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &__content-appear-done {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-left__content-enter {
    transform: translateX(100%);
  }

  &-left__content-enter-active {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-left__content-enter-done {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-left__content-exit {
    transform: translateX(0%);
    box-shadow: 0 0 30px 0 rgba(75, 76, 77, 0.5);
  }

  &-left__content-exit-active {
    transform: translateX(100%);
  }

  &-left__content-exit-done {
    transform: translateX(100%);
  }

  &__content--left {
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
  }
}
