.cat-dropdown-overlay-hide {
  display: none;
}

.cat-dropdown-wrap {
  box-sizing: border-box;
  width: 100%;
  min-width: 150px;
  background-color: #fff;
  outline: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  overflow: hidden;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  border: solid 1px $gray-3;
}
