
    // 该文件有模板生成，不要手动修改文件，具体查看scipts/updateIcon/processCss
    @font-face {font-family: "iconfont";
  src: url('https://at.alicdn.com/t/font_1236545_xgsazuemfwn.eot?t=1564725850870'); /* IE9 */
  src: url('https://at.alicdn.com/t/font_1236545_xgsazuemfwn.eot?t=1564725850870#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
  url('https://at.alicdn.com/t/font_1236545_xgsazuemfwn.woff?t=1564725850870') format('woff'),
  url('https://at.alicdn.com/t/font_1236545_xgsazuemfwn.ttf?t=1564725850870') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('https://at.alicdn.com/t/font_1236545_xgsazuemfwn.svg?t=1564725850870#iconfont') format('svg'); /* iOS 4.1- */
}

.hmly-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hmly-icon-close:before {
  content: "\e648";
}

.hmly-icon-down:before {
  content: "\e649";
}

.hmly-icon-right:before {
  content: "\e64a";
}

.hmly-icon-left:before {
  content: "\e64b";
}

.hmly-icon-up:before {
  content: "\e64c";
}

.hmly-icon-instagram:before {
  content: "\e64d";
}

.hmly-icon-twitter:before {
  content: "\e64e";
}

.hmly-icon-facebook:before {
  content: "\e64f";
}

.hmly-icon-locked:before {
  content: "\e650";
}

.hmly-icon-unlocked:before {
  content: "\e651";
}

.hmly-icon-volume-low:before {
  content: "\e652";
}

.hmly-icon-volume-high:before {
  content: "\e653";
}

.hmly-icon-volume-muted:before {
  content: "\e654";
}

.hmly-icon-loop-list:before {
  content: "\e655";
}

.hmly-icon-loop-single:before {
  content: "\e656";
}

.hmly-icon-shuffle:before {
  content: "\e657";
}

.hmly-icon-question:before {
  content: "\e658";
}

.hmly-icon-pause:before {
  content: "\e659";
}

.hmly-icon-player-next:before {
  content: "\e65a";
}

.hmly-icon-play:before {
  content: "\e65b";
}

.hmly-icon-player-prev:before {
  content: "\e65c";
}

.hmly-icon-sort-down:before {
  content: "\e65d";
}

.hmly-icon-playlist:before {
  content: "\e65e";
}

.hmly-icon-sort-up:before {
  content: "\e65f";
}

.hmly-icon-share:before {
  content: "\e660";
}

.hmly-icon-liked:before {
  content: "\e661";
}

.hmly-icon-like:before {
  content: "\e662";
}

.hmly-icon-visible:before {
  content: "\e663";
}

.hmly-icon-invisible:before {
  content: "\e664";
}

.hmly-icon-drag:before {
  content: "\e665";
}

.hmly-icon-drag-mouse:before {
  content: "\e666";
}

.hmly-icon-upload:before {
  content: "\e667";
}

.hmly-icon-enter:before {
  content: "\e668";
}

.hmly-icon-edit:before {
  content: "\e669";
}

.hmly-icon-download:before {
  content: "\e66a";
}

.hmly-icon-stats:before {
  content: "\e66b";
}

.hmly-icon-delete:before {
  content: "\e66c";
}

.hmly-icon-more:before {
  content: "\e66d";
}

.hmly-icon-filter:before {
  content: "\e66e";
}

.hmly-icon-people:before {
  content: "\e66f";
}

.hmly-icon-disc:before {
  content: "\e670";
}

.hmly-icon-forward:before {
  content: "\e671";
}

.hmly-icon-backward:before {
  content: "\e672";
}

.hmly-icon-decrease:before {
  content: "\e673";
}

.hmly-icon-increase:before {
  content: "\e674";
}

.hmly-icon-search:before {
  content: "\e675";
}


  