
    // 该文件有模板生成，不要手动修改文件，具体查看scipts/updateIcon/processCss
    @font-face {font-family: "iconfont";
  src: url('https://at.alicdn.com/t/font_1236545_0bwja652q23.eot?t=1573459811482'); /* IE9 */
  src: url('https://at.alicdn.com/t/font_1236545_0bwja652q23.eot?t=1573459811482#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
  url('https://at.alicdn.com/t/font_1236545_0bwja652q23.woff?t=1573459811482') format('woff'),
  url('https://at.alicdn.com/t/font_1236545_0bwja652q23.ttf?t=1573459811482') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('https://at.alicdn.com/t/font_1236545_0bwja652q23.svg?t=1573459811482#iconfont') format('svg'); /* iOS 4.1- */
}

.cat-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cat-icon-close:before {
  content: "\e648";
}

.cat-icon-down:before {
  content: "\e649";
}

.cat-icon-right:before {
  content: "\e64a";
}

.cat-icon-left:before {
  content: "\e64b";
}

.cat-icon-up:before {
  content: "\e64c";
}

.cat-icon-instagram:before {
  content: "\e64d";
}

.cat-icon-twitter:before {
  content: "\e64e";
}

.cat-icon-facebook:before {
  content: "\e64f";
}

.cat-icon-locked:before {
  content: "\e650";
}

.cat-icon-unlocked:before {
  content: "\e651";
}

.cat-icon-volume-low:before {
  content: "\e652";
}

.cat-icon-volume-high:before {
  content: "\e653";
}

.cat-icon-volume-muted:before {
  content: "\e654";
}

.cat-icon-loop-list:before {
  content: "\e655";
}

.cat-icon-loop-single:before {
  content: "\e656";
}

.cat-icon-shuffle:before {
  content: "\e657";
}

.cat-icon-question:before {
  content: "\e658";
}

.cat-icon-pause:before {
  content: "\e659";
}

.cat-icon-player-next:before {
  content: "\e65a";
}

.cat-icon-play:before {
  content: "\e65b";
}

.cat-icon-player-prev:before {
  content: "\e65c";
}

.cat-icon-sort-down:before {
  content: "\e65d";
}

.cat-icon-playlist:before {
  content: "\e65e";
}

.cat-icon-sort-up:before {
  content: "\e65f";
}

.cat-icon-share:before {
  content: "\e660";
}

.cat-icon-liked:before {
  content: "\e661";
}

.cat-icon-like:before {
  content: "\e662";
}

.cat-icon-visible:before {
  content: "\e663";
}

.cat-icon-invisible:before {
  content: "\e664";
}

.cat-icon-drag:before {
  content: "\e665";
}

.cat-icon-drag-mouse:before {
  content: "\e666";
}

.cat-icon-upload:before {
  content: "\e667";
}

.cat-icon-enter:before {
  content: "\e668";
}

.cat-icon-edit:before {
  content: "\e669";
}

.cat-icon-download:before {
  content: "\e66a";
}

.cat-icon-stats:before {
  content: "\e66b";
}

.cat-icon-delete:before {
  content: "\e66c";
}

.cat-icon-more:before {
  content: "\e66d";
}

.cat-icon-filter:before {
  content: "\e66e";
}

.cat-icon-people:before {
  content: "\e66f";
}

.cat-icon-disc:before {
  content: "\e670";
}

.cat-icon-forward:before {
  content: "\e671";
}

.cat-icon-backward:before {
  content: "\e672";
}

.cat-icon-decrease:before {
  content: "\e673";
}

.cat-icon-increase:before {
  content: "\e674";
}

.cat-icon-search:before {
  content: "\e675";
}

.cat-icon-add:before {
  content: "\e676";
}

.cat-icon-error:before {
  content: "\e677";
}

.cat-icon-success:before {
  content: "\e678";
}

.cat-icon-warning:before {
  content: "\e679";
}

.cat-icon-copy:before {
  content: "\e67a";
}

.cat-icon-camera:before {
  content: "\e67b";
}


  