@import './common/normalize.scss';
@import './common/reset.scss';

@import './color.scss';
@import './avatar.scss';
@import './button.scss';
@import './dragger.scss';
@import './icon.scss';
@import './input.scss';
@import './menu.scss';
@import './message.scss';
@import './modal.scss';
@import './pagination.scss';
@import './popover.scss';
@import './portal.scss';
@import './question.scss';
@import './radio.scss';
@import './select.scss';
@import './slider.scss';
@import './steps.scss';
@import './table.scss';
@import './tabs.scss';
@import './tag.scss';
@import './themes.scss';
@import './tooltip.scss';
@import './drawer.scss';
@import './loading.scss';
@import './card.scss';
@import './element-select.scss';
@import './checkbox.scss';
@import './switch.scss';
