@keyframes pageTurning {
  0% {
    transform: perspective(200px) rotateX(20deg);
    opacity: 0;
  }
  50% {
    transform: perspective(200px) rotateX(10deg);
    opacity: 0.5;
  }
  100% {
    transform: perspective(200px) rotateX(0deg);
    opacity: 1;
  }
}

.hmly-menu {
  list-style: none;
  padding: 0;
  &--submenu {
    color: #4a4a4a;
    width: 100%;
    height: 40px;
    padding: 0 22px 0 45px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    position: relative;
    cursor: pointer;
    &::after {
      position: absolute;
      top: calc(50% - 5px);
      left: 25px;
      height: 10px;
      width: 10px;
      content: ' ';
      border-right: 2px solid #9b9b9b;
      border-top: 2px solid #9b9b9b;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      display: inline-block;
      transform: rotate(225deg);
      box-sizing: border-box;
    }
  }
  &__item {
    color: #4a4a4a;
    width: 100%;
    height: 40px;
    padding: 0 22px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background-color: #f3f3f3;
      color: #4a4a4a;
      font-weight: 600;
    }
    &--checked {
      font-weight: bold;
      color: #3a3a3a;
    }
    &--disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

.hmly-submenu {
  height: auto;
  position: relative;
  &--inline {
    height: 0;
    overflow: hidden;
    padding-left: 20px;
    &--expand {
      height: auto;
    }
  }

  &__title {
    color: #4a4a4a;
    width: 100%;
    height: 40px;
    padding: 0 22px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #f3f3f3;
      color: #4a4a4a;
      font-weight: 600;
    }
    &--inline::after {
      position: absolute;
      top: calc(50% - 8px);
      right: 25px;
      height: 10px;
      width: 10px;
      content: ' ';
      border-right: 2px solid #9b9b9b;
      border-top: 2px solid #9b9b9b;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      display: inline-block;
      transform: rotate(135deg);
      box-sizing: border-box;
    }
    &--pop::after,
    &--replace::after {
      position: absolute;
      top: calc(50% - 5px);
      right: 10px;
      height: 10px;
      width: 10px;
      content: ' ';
      border-right: 2px solid #9b9b9b;
      border-top: 2px solid #9b9b9b;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      display: inline-block;
      transform: rotate(45deg);
      box-sizing: border-box;
    }
  }
  &__pop {
    position: absolute;
    top: 0;
    z-index: 999;
    border: 1px solid #eee;
    box-sizing: border-box;
    transform-origin: left center;
    animation: 0.15s pageTurning ease-in;
  }
  &__pop-menu {
    list-style: none;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
  }
}

.hmly-submenu__title--inline.hmly-submenu__title--expand::after {
  transform: rotate(-45deg);
}
