.hmly-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: initial;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(49, 54, 70, 0.2);
  padding: 30px;
  font-size: 14px;
  white-space: normal;
  min-width: 450px;
  max-width: 600px;
  z-index: 9999;
  &--center {
    text-align: center;
  }

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1px);
    height: 100%;
    z-index: 1000;
  }
  &__header {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #4a4a4a;
  }
  &__body {
    font-size: 18px;
    color: #4a4a4a;
  }
  &__footer {
    float: right;
    &--center {
      float: none;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    .hmly-icon {
      font-size: 12px;
      cursor: pointer;
    }
  }
}
