.cat-pagination {
  &__item {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bcbcbc;
    &--active {
      color: #313646;
    }
    padding: 0 10px;
    cursor: pointer;
  }
}
