@import './common/color.scss';

.cat-pagination {
  overflow: hidden;
  line-height: 20px;
  &__prev, &__next {
    float: left;
    font-size: 16px;
    cursor: pointer;
    color: $gray-10;
    &--disabled {
      color: $gray-3;
      cursor: not-allowed;
    }
  }

  &__item {
    user-select: none;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: $gray-10;
    min-width: 20px;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 2px;
    &:hover {
      background-color: $gray-3;
    }
    &--no-hover {
      cursor: normal;
      &:hover {
        background-color: #fff;
      }
    } 
    &--active {
      color: #fff;
      background-color: $gray-10;
      &:hover {
        background-color: $gray-10;
      }
    }
    cursor: pointer;
  }
}
