// 翻页的效果
@keyframes pageTurning {
  0% {
    transform: perspective(200px) rotateX(20deg);
    opacity: 0;
  }
  50% {
    transform: perspective(200px) rotateX(10deg);
    opacity: 0.5;
  }
  100% {
    transform: perspective(200px) rotateX(0deg);
    opacity: 1;
  }
}

.cat-popover {
  display: inline-block;
  
  &__content {
    position: relative;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    transform-origin: left center;
    z-index: 8000;
  }
}
