@import "./common/index.scss";

.cat-radio-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  line-height: 28px;
  color: $gray-10;
  &--disabled {
    cursor: not-allowed;
  }
}

.cat-radio {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &--disabled {
    color: $gray-6;
    cursor: not-allowed;
  }

  &__inner-wrapper {
    position: relative;
  }
  &__inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all 0.3s;
    box-sizing: border-box;
    background-color: #fff;
    border-color: $gray-10;
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 3px;
      top: 3px;
      border-radius: 50%;
      display: table;
      border-top: 0;
      border-left: 0;
      transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      box-sizing: border-box;
      opacity: 0;
      background-color: $gray-10;
    }
    &--checked {
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 3px;
        top: 3px;
        border-radius: 50%;
        display: table;
        border-top: 0;
        border-left: 0;
        transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        box-sizing: border-box;
        background-color: $gray-10;
        opacity: 1;
      }
    }
    &--disabled {
      border-color: $gray-6;
      cursor: not-allowed;
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 3px;
        top: 3px;
        border-radius: 50%;
        display: table;
        border-top: 0;
        border-left: 0;
        transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        box-sizing: border-box;
        background-color: $gray-6;
      }
    }
    border-width: 1px;
    border-style: solid;
  }

  &__label {
    margin: 0 12px;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    &--disabled {
      color: $gray-6;
      cursor: not-allowed;
    }
  }
}
