.cat-radio {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &--disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }

  &-wrapper {
    position: relative;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 1.5;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -2px;
    color: #767676;
    font-weight: 600;
    &--vertical {
      display: block;
    }
    &--vertical + &--vertical {
      margin-top: 28px;
    }
    &--horizontal + &--horizontal {
      margin-left: 40px;
    }
  }
  &-inner-wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1;
    vertical-align: middle;
    &--vertical {
      vertical-align: top;
    }
  }
  &-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.1s;
    box-sizing: border-box;
    background-color: #fff;
    border-color: #313646;
    &::after {
      content: ' ';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 4px;
      top: 4px;
      border-radius: 50%;
      display: table;
      border-top: 0;
      border-left: 0;
      transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      box-sizing: border-box;

      opacity: 0;
      background-color: #313646;
    }

    &--disabled {
      border-color: #979797;
      &::after {
        content: ' ';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        display: table;
        border-top: 0;
        border-left: 0;
        transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        box-sizing: border-box;
        background-color: #ccc;
      }
    }
    &--checked {
      &::after {
        content: ' ';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        display: table;
        border-top: 0;
        border-left: 0;
        transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        box-sizing: border-box;
        background-color: #313646;
        opacity: 1;
      }
    }
    border-width: 1px;
    border-style: solid;
  }

  &__label {
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: -2px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    &--disabled {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }
    &--vertical {
      vertical-align: top;
    }
  }
}
