.cat-select-wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 189px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  outline: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  background-color: #fff;
  border-radius: 4px;
  outline: none;

  .selected-section {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);

    &:focus {
      border-color: #40a9ff;
      box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
    }

    &.disabled {
      background: #f5f5f5;
      color: rgba(0,0,0,0.25);
      cursor: not-allowed;
    }

    .select-arrow {
      position: absolute;
      right: 12px;
      top: 50%;
      transform-origin: 50% 50%;
      line-height: normal;
      transform: translateY(-50%);
      height: 14px;
      width: 12px;
      transition: all .2s cubic-bezier(.645, .045, .355, 1);

      &--rotate {
        transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }
}
