.cat-slider {
  position: relative;
  right: 0;
  height: 14px;
  line-height: 10px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  user-select: none;
  cursor: pointer;

  .slider-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #e9e9e9;
  }

  .slider-track {
    position: absolute;
    width: 0;
    left: 0%;
    height: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ff3737;
  }

  .slider-handle-wrap {
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    @media (max-width: 767px) {
      left: 6px;
      width: calc(100% - 12px);
    }
  }

  .slider-handle {
    position: absolute;
    margin-left: -5px;
    margin-top: -3px;
    background-color: transparent;
    touch-action: pan-x;
    cursor: pointer;
    transition: all 0.1s ease;

    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff3737;
      border: none;
    }

    @media (max-width: 767px) {
      margin-left: -10px;
      margin-top: -8px;
      width: 20px;
      height: 20px;

      .circle {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.dragging,
  &.cat-slider-inside {
    .slider-handle {
      transition: none !important;
    }
  }

  &.cat-slider-volume {
    .slider-rail {
      border-radius: 2px;
      background-color: #fff;

      &.volume_0 {
        background-color: #9e9e9e;
      }
    }

    .slider-track {
      border-radius: 2px;
      background-color: #9e9e9e;
    }

    &:hover.volume_1 {
      .slider-track {
        background-color: rgba(83, 118, 130, 0.33);
      }
    }

    &:hover.volume_2 {
      .slider-track {
        background-color: rgba(83, 118, 130, 0.66);
      }
    }

    &:hover.volume_3 {
      .slider-track {
        background-color: #537682;
      }
    }

    .slider-handle {
      margin-top: -4px;

      .circle {
        width: 12px;
        height: 12px;
        border: none;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #fff;
      }
    }
  }
}
