.cat-table {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  clear: both;
  box-sizing: border-box;
  font-size: 12px;
  color: #4a4a4a;
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  &__pagination {
    margin: 30px auto;
    text-align: center;
  }

  &__header {
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
    &--center {
      text-align: center;
    }
    &--justify {
      text-align: justify;
    }
    &-th {
      position: relative;
      vertical-align: middle;
      border-bottom: 1px solid #e1e6f0;
      padding: 10px;
      line-height: 22px;
      word-break: break-all;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 600;
    }
    &-filter-icon {
      cursor: pointer;
      margin-left: 5px;
      vertical-align: middle;
      color: #9b9b9b;
      &--active {
        color: #4a4a4a;
      }
    }
  }

  &__row {
    text-align: left;
    &:hover {
      background-color: rgba(238, 238, 238, 0.3);
    }
    &--center {
      text-align: center;
    }
    &--draggable {
      cursor: move;
    }
  }

  &__col {
    position: relative;
    vertical-align: middle;
    border-bottom: 1px solid #e1e6f0;
    padding: 20px 10px;
    line-height: 22px;
    word-break: break-all;
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    &-inner {
      display: flex;
      align-items: center;
    }
  }
}
