.hmly-tooltip {
  &__content {
    position: relative;
    padding: 9px 12px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 5px 0;
    border-radius: 3px;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.9);
    &--topCenter {
      position: absolute;
      bottom: -10px;
      content: ' ';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(0, 0, 0, 0.7);
    }
  }
}
