/*
* 基础色
*/
// 红
$red-1: #fff2f0;
$red-2: #ffebe8;
$red-3: #ffc6bf;
$red-4: #ff9d96;
$red-5: #ff726e;
$red-6: #ff4444;
$red-7: #d93035;
$red-8: #b31e28;
$red-9: #8c111d;
$red-10: #660b17;

// 黄
$yellow-1: #fffbf0;
$yellow-2: #fff7e0;
$yellow-3: #ffeab8;
$yellow-4: #ffda8f;
$yellow-5: #ffc766;
$yellow-6: #fcb03c;
$yellow-7: #d68b29;
$yellow-8: #b06919;
$yellow-9: #8a4b0c;
$yellow-10: #633308;

// 青
$green-1: #e1faf6;
$green-2: #98ede2;
$green-3: #6ce0d5;
$green-4: #44d4ca;
$green-5: #20c7c1;
$green-6: #00bbbb;
$green-7: #008f94;
$green-8: #00666e;
$green-9: #004047;
$green-10: #001d21;

// 橙
$orange-1: #fff4e6;
$orange-2: #ffd4a3;
$orange-3: #ffbd7a;
$orange-4: #ffa352;
$orange-5: #ff8629;
$orange-6: #ff6600;
$orange-7: #d94f00;
$orange-8: #b33b00;
$orange-9: #8c2a00;
$orange-10: #661b00;

// 蓝
$blue-1: #e6f9ff;
$blue-2: #a3e7ff;
$blue-3: #7ad7ff;
$blue-4: #52c5ff;
$blue-5: #29b0ff;
$blue-6: #0099ff;
$blue-7: #007bd9;
$blue-8: #005fb3;
$blue-9: #0c468c;
$blue-10: #003066;

// 灰
$gray-1: #ffffff;
$gray-2: #f7f7f7;
$gray-3: #ebebeb;
$gray-4: #dedede;
$gray-5: #d1d1d1;
$gray-6: #c4c4c4;
$gray-7: #9e9e9e;
$gray-8: #787878;
$gray-9: #525252;
$gray-10: #2b2b2b;

// 蓝灰
$blue-gray-1: #dae0e6;
$blue-gray-2: #ced3d9;
$blue-gray-3: #c2c7cc;
$blue-gray-4: #acb6bf;
$blue-gray-5: #98a5b3;
$blue-gray-6: #828e99;
$blue-gray-7: #707e8c;
$blue-gray-8: #434e59;
$blue-gray-9: #262d33;
$blue-gray-10: #14171a;

/*
* 具有明确含义的颜色
*/

$primary-color: $red-6;

$secondary-color: $yellow-6;
