.tooltip-stories {
  &__config {
    padding: 20px;
  }
  &__demo {
    width: 400px;
    height: 180px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__wrapper {
    position: absolute;
    display: flex;
  }

  &__top {
    width: 100%;
    top: -34px;
    justify-content: space-between;
  }

  &__right {
    height: 100%;
    right: -100px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    width: 100%;
    bottom: -34px;
    justify-content: space-between;
  }

  &__left {
    height: 100%;
    left: -100px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    width: 100px;
    padding: 0;
    text-align: center;
    line-height: 30px;
  }
}
