// 组件通用颜色配置

// 主题色
$dark-theme-color: #f9522c;
$main-theme-color: #FF3737;
$light-theme-color: #F97B5E;

$default-border-color: #979797;
$disabled-color: rgba(0,0,0,.25);

$dark-btn-color:#FF214B;
$main-btn-color: #FF3737;
$light-btn-color:#FE6D47;
