// 组件通用颜色配置

// 主题色
$dark-theme-color: #f9522c;
$main-theme-color: #FF3737;
$light-theme-color: #F97B5E;

$default-border-color: #979797;
$disabled-color: rgba(0,0,0,.25);

// 按钮
$primary-btn-color: #ff4444;
$yellow-btn-color: #ffba0f;

