.hmly-children {
  margin: 200px auto;
  width: 300px;
  background-color: #f1f3f4;
  text-align: center;

  font-size: 0.875rem;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.hmly-pop {
  opacity: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,opacity 450ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &.popuped {
    opacity: 1;
    background-color: #6f6f6f;
  }
}